<div class="card flex-container">
	<div class="card-group-item">
		<header class="card-header">
			<h6 class="title">CATEGORIES </h6>
		</header>
		<div class="filter-content"> 
			<div class="list-group list-group-flush">
				<div class="category list-group-item" >
					<a class="" routerLink="/shop/products" routerLinkActive="active-link">
					all
					</a>
		  		</div>
				<div class="category list-group-item" *ngFor="let pc of productCategories">
			  		<a class="" routerLink="/shop/productByCategory/{{pc.id}}/{{pc.category}}" routerLinkActive="active-link">
			    		{{pc.category}}
			  		</a>
				</div>

			</div> 
		</div>
	</div> 
</div> 
 