<div class="container">
    <!-- <h1 style="margin-left:0px;">Category : {{currentCategoryName}}</h1> -->
    <div class="row align-items-center ">
        <div class="card justify-content-center" id="box" style="width: 15rem; margin:5px;" *ngFor="let prod of products">
            <a routerLink="/shop/products/{{prod.id}}">
                <img class="card-img-top" src="{{prod.imageUrl}}" alt="Card image cap">
            </a>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="card-title">
                            <a routerLink="/shop/products/{{prod.id}}">{{prod.name}}</a>
                        </h5>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <h4 class="justify-text-center" style="font-size:16px;">
                                Rs. {{prod.unitPrice}}
                            </h4>
                        </div>
                        <div class="row">
                            <button (click)="addToCart(prod)" class="btn button">
                                <i class="fa fa-solid fa-cart-plus" style="color:white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div *ngIf="products?.length==0" class="alert alert-warning col-sm-12" role="alert">
        No Products found :(
    </div> 
</div>