body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#cartMainContainer
{
    padding: 80px 40px;
    margin-left:80px;
    margin-right:80px;
}
#cartContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width:100%;
}
img
{
    width: 60px;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
}
#boxContainer
{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    width: 60vw;
    /* float: left; */
}
#box
{
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    border-radius: 10px;
    width: 100%;
    /* margin: auto */
    padding: 15px 10px;
}
#box:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}
#totalContainer
{
    width:20vw;
    height:30vh;
    padding: 20px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#totalContainer:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}
button
{
    padding: 8px 12px;
    background-color: rgb(3, 122, 122);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
button:hover
{
    background-color: rgb(3, 94, 94);
}
button a:focus
{
    outline: none;
}
.minus, .plus{
    color:white;
    width:30px;
    height:36px;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input{
    height:36px;
    width: 61px;
    text-align: center;
    font-size: 20px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}  
.remove{
    background-color: red;
    color:white;
    /* width:120px; */
    width: 36px;
    height:36px;
    border-radius:4px;
    padding:1px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size:20px;
}
h4{
    font-size:18px;
}
/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px)
{
    img
    {
        width: 60px;
        margin-right: 20px;
    }
    h3, h4
    {
        font-size: 14px;
    }
    h2
    {
        font-size: 18px;
    }
    #cartMainContainer
    {
        padding: 80px 40px;
    }
}
@media(max-width: 555px)
{
    #cartContainer
    {
        display: grid;
        grid-template-columns: 1fr;
    }    
    #boxContainer
    {
        padding: 20px;
        width: 80%;
    }
}